.incoming .fname, .incoming .fnamegt, .incoming .time, .incoming .sender{
    color: #cc00cc;
	filter: brightness(0.2);
	// Browser Specific
	-webkit-filter: brightness(0.2);
	-moz-filter: brightness(0.2);
	-o-filter: brightness(0.2);
	-ms-filter: brightness(0.2);
}

.outgoing .fname, .outgoing .fnamegt, .outgoing .time, .outgoing .sender{
    color: #0000cc;
	filter: brightness(0.2);
	// Browser Specific
	-webkit-filter: brightness(0.2);
	-moz-filter: brightness(0.2);
	-o-filter: brightness(0.2);
	-ms-filter: brightness(0.2);
}
